# Database
DATABASE_URL="postgresql://user:password@localhost:5432/catabim"

# NextAuth Configuration
NEXTAUTH_SECRET="your-secret-key-here-min-32-chars-use-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Optional: For production use
# NEXTAUTH_URL="https://yourdomain.com"
